#spacer {
  height: 88px;
  border-top: 1px solid var(--border);

  @media (max-width: 1024px) {
    height: 48px;
  }
}

.gradient-bg {
  background: linear-gradient(#41888E, #FB8C7A, black);
}

html:has(.gradient-bg){
  background-color: black;
}

body {
  background-color: #f5efe3;
}

#portfolio-sun{
  height: 30vw;
  width: 60vw;
  background: linear-gradient(#FCB490, #FB8C7A);
  z-index: 0;

  @media (width < 40rem) {
    width: 90vw;
    height: 90vw;
    bottom: -30vw;
  }
}

#portfolio-sun h1{
  font-size: 10vw;
  line-height: .75em;

  @media (width < 40rem) {
    position: relative;
    bottom: 45vw;
    font-size: 15vw;
  }
}

.portfolio-card-w {
  aspect-ratio: 2;
  width: 56vw;
}

.portfolio-card-h {
  aspect-ratio: 0.5;
  height: 56vw;
}

.portfolio-card {
  aspect-ratio: 4/5;
  position: relative;
  min-width: 380px;
  max-width: 420px;
  justify-self: center;
}

.portfolio-card .card-foreground {
  width: 98%;
  height: 98%;
  position: relative;
  z-index: 2;
}

.portfolio-card .card-shadow {
  width: 98%;
  height: 98%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.code {
  font-family: monospace
}

#bento-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 3em;
  position: relative;
}

.swiper-slide {
  display: inherit;
}